
    <ul>
    <li ng-repeat="t in tree">
    <div>
    <h5>
    <span class=""><img class="img-circle" src="{{t.imgUrl}}"></span><br>
    <small>Name : </small>{{t.ibo}}<br>
    <small>Self BV: </small>{{t.bv}}<br>
    <small>Bonus Level: </small>{{(t.bonusRate || 0)*100 + "%"}}<br>
    <small>Total PV: </small>{{t.totalPv || 0}}<br>
    <small>Total BV: </small>{{t.totalBv || 0}}<br>
    <small>Bonus: {{scheduleInfo.currency}}</small>{{t.bonus || 0}}
    </h5>
    <!--<a href="" title="Add a new downline" class="add-button hiten" ng-click="addNode(t)"><span class="label label-success">+</span></a>
    <a href="" title="Delete this IBO and its downlines" class="pull-right hiten" ng-click="deleteNode(tree,$index)"><span class="label label-default">x</span></a>-->
    </div>
    <recurv ng-if="t.children.length>0" tree="t.children" schedule-info="scheduleInfo" calculate="calculate()" ga-tree-changed="gaTreeChanged({action:action})"></recurv>
    </li>
    </ul>
